<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zk.rfid"
    android:versionCode="4"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.zk.rfid.comm.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<!-- 注册系统广播接收器 --> 
		<receiver android:name="com.zk.rfid.comm.base.BootBroadcastReceiver" > 
			<intent-filter> 
				<action android:name="android.intent.action.BOOT_COMPLETED"/> 
				<action android:name="com.rfid.sdk.protocol.ACTION"/> 
				<category android:name="android.intent.category.HOME" /> 
			</intent-filter> 
		</receiver> 
        <activity
            android:name="com.zk.rfid.login.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.zk.rfid.update.AutoUpdateActivty"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zk.rfid.login.activity.EditPwdActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.StoreToTalActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.OperateEpcActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.WaitModifyCountActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.ModifyBoxActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zk.rfid.main.activity.ApplyMaterialActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.MaterialDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.map.activity.EpcWriteActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.AdjustActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.map.activity.AddMaterialActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.zk.rfid.main.activity.LendDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.zk.rfid.main.activity.ExceptionActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"   
	        android:launchMode="singleTask"  
	        android:taskAffinity=""  
	        android:excludeFromRecents="true" />
    </application>

</manifest>